<header>
  <nav>
    <ul role="list">
      <li><a href="/" {{ if url==="/" }}aria-current="page" {{ /if }}>Startseite</a></li>
      <li><a href="/lesen/a1/" {{ if url==="/lesen/a1/" }}aria-current="page" {{ /if }}>A1</a></li>
      <li><a href="/lesen/a2/" {{ if url==="/lesen/a2/" }}aria-current="page" {{ /if }}>A2</a></li>
      <li><a href="/lesen/b1/" {{ if url==="/lesen/b1/" }}aria-current="page" {{ /if }}>B1</a></li>
    </ul>
  </nav>
</header>