---
layout: base.vto
title: A1 Texte von Cevdet
description: A1 Texte von Cevdet
---

<h1>{{ title }}</h1>
<ul>
  {{ for page of search.pages("level=a1") }}
  <li><a href="{{ page.url }}">{{ page.title }}</a> von <a href="{{ page.link }}">{{ page.source }}</a></li>
  {{ /for }}
</ul>